.formwrapper {
  padding: 20px;
  width: 50%;
  margin: auto;
  min-height: 75vh;
  background-color: #86a868;
  border-radius: 10px;
  box-shadow: 5px 5px 2px rgba(124, 136, 125, 0.8);
}

.formwrapper .img-wrap {
  width: 15%;
}

.formwrapper img {
  width: 100%;
  margin: auto;
}

.formwrapper h2 {
  color: #ffffff;
  margin-bottom: 30px;
}

.entries {
  display: flex;
  flex-direction: column;
  margin: 10px 0 10px 0;
  font-weight: 500;
  font-size: large;
  color: #ffffff;
}

.entries input {
  width: 90%;
  height: 40px;
  border-radius: 8px;
  border: none;
  padding: 10px;
  margin-top: 10px;
}

.entries input:focus {
  outline: none;
}

.entries input[type='text'] {
  font-size: 14px;
}

/* Button style */

.button {
  margin-top: 10px;
  text-transform: uppercase;
  padding: 10px;
  width: 100px;
  border-radius: 8px;
  border: none;
  color: #86a868;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
}

.button:hover {
  background-color: #141810;
}

/* Media Queries for Mobile View */

@media screen and (max-width: 800px) {
  .formwrapper {
    width: 100%;
    padding: 10px;
    min-height: 65vh;
  }

  .formwrapper .img-wrap {
    width: 25%;
    margin-top: 10px;
    margin-bottom: 5px;
  }

  .formwrapper h2 {
    color: #ffffff;
    margin-bottom: 20px;
    font-size: 1.3em;
  }

  .entries label {
    font-size: 1.2em;
    margin-top: 10px;
  }

  .entries input {
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: none;
    padding: 5px;
    margin-top: 15px;
  }

  .entries input[type='text'],
  .entries input[type='email'] {
    font-size: 1em;
  }

  .button {
    margin-top: 25px;
    text-transform: uppercase;
    padding: 7px;
    width: 100%;
    border-radius: 5px;
    border: none;
    color: #121410;
    font-weight: 600;
    font-size: 0.9em;
    cursor: pointer;
  }

  .button:hover {
    background-color: #141810;
    color: #ffffff;
  }
}

@media screen and (max-width: 600px) {
  .formwrapper {
    width: 100%;
    padding: 10px;
    min-height: 65vh;
  }

  .formwrapper .img-wrap {
    width: 25%;
    margin-top: 10px;
    margin-bottom: 5px;
  }

  .formwrapper h2 {
    color: #ffffff;
    margin-bottom: 20px;
    font-size: 1.3em;
  }

  .entries label {
    font-size: 1em;
  }

  .entries input {
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: none;
    padding: 5px;
    margin-top: 15px;
  }

  .entries input[type='text'],
  .entries input[type='email'] {
    font-size: 0.9em;
  }

  .button {
    margin-top: 15px;
    text-transform: uppercase;
    padding: 7px;
    width: 100%;
    border-radius: 5px;
    border: none;
    color: #121410;
    font-weight: 600;
    font-size: 0.9em;
    cursor: pointer;
  }

  .button:hover {
    background-color: #141810;
    color: #ffffff;
  }
}
