.display-users {
  padding: 20px;
  width: 50%;
  margin: auto;
}

.display-users h2 {
  color: #6c6d6a;
}

.display-users .table {
  width: 100%;
  color: #6c6d6a;
}

.display-users .table thead tr th {
  color: #6c6d6a;
  text-align: left;
  margin-right: 20px;
  font-weight: 700;
}

.display-users .table thead tr th,
.display-users .table tbody tr td {
  border-bottom: 1px solid #6c6d6a;
  padding: 10px 0 10px 0;
}

.display-users .table thead tr th:nth-last-child() {
  margin-right: 0px;
}

.display-users .table .button {
  padding: 10px;
  text-transform: uppercase;
  border-radius: 5px;
  border: none;
  color: #486f25;
  font-weight: 600;
  font-size: 12px;
  cursor: pointer;
}

.display-users .table .button:hover {
  background-color: #141810;
  color: #fff;
}

/* Media Queries for Mobile View */

@media screen and (max-width: 800px) {
  .display-users {
    padding: 5px;
    width: 50%;
    margin: auto;
  }

  .display-users h2 {
    color: #6c6d6a;
    font-size: 1.2em;
  }

  .display-users .table {
    width: 100%;
    color: #6c6d6a;
  }

  .display-users .table thead tr th,
  .display-users .table tbody tr td {
    border-bottom: 1px solid #6c6d6a;
    padding: 10px 0 10px 0;
    word-break: break-all;
  }
}

@media screen and (max-width: 970px) {
  .display-users .table thead tr th,
  .display-users .table tbody tr td {
    border-bottom: 1px solid #6c6d6a;
    padding: 10px 0 10px 0;
    word-break: break-all;
  }
}
